<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,">
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,500;1,500;1,700&family=Boogaloo&family=Graduate&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="favicon//apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon//favicon-16x16.png">
  <link rel="manifest" href="favicon//site.webmanifest">
  <link rel="mask-icon" href="favicon/ /safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>Urban Paintball Extremo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/javascripts/jquery.fancybox.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/novedadesAdmin.css">
</head>
<body>
  <header>
  <div id="intro" data-speed="4" class="background">
    <div class="home-cont" style="transform: translateY(0px);opacity: 1; top:200px;">
      <div class="home-info">
        <h2>URBAN PAINTBALL EXTREMO</h2>
        <p>UN COMPLEJO EN CAPITAL DEDICADO A LA PRÁCTICA DEL PAINTBALL</p>
        <h3 style="color: aliceblue;">Puerto Núñez – Avenida Cantilo y Arroyo Medrano
          <br>
          Predio Club Centro Naval Sede Núñez
          Nuñez – CABA
          Argentina</h3>
      </div>
    </div>
  </div>
  </header>
  <body>
    {{{body}}}
  </body>
  <footer>
    <div class=logo>
      <img src="/images/logo.png" alt="logofooter" style="box-shadow: none;">
    </div>
    <h2>PAINTBALL URBANO - RECBALL - SPEEDBALL - EVENTOS DE EMPRESAS - EVENTOS OUTDOOR - URBAN DOMO</h2>
    <p>PUERTO NUÑEZ - COLECTORA DE AVENIDA CANTILO Y ARROYO MEDRANO</p>
    <P>(PREDIO CLUB CENTRO NAVAL SEDE NÚÑEZ) CIUDAD AUTÓNOMA DE BUENOS AIRES - ARGENTINA</P>
    <table>
      <tr>
        <td style="display: inline-block;"><a class="face icon-face2" href="https://www.facebook.com/UrbanPaintballExtremo/?epa=SEARCH_BOX"
            target="none"></a></td>
        <td style="display: inline-block;"><a class="insta icon-insta" href="https://www.instagram.com/urbanextremo/" target="none"></a>
        </td>
        <td style="display: inline-block;" ><a class="what icon-what" href="https://api.whatsapp.com/send?phone= +54 9 11 2890145" target="none"></a>
        </td>
        <td style="display: inline-block;"><a class="twitter icon-twitter" href="https://twitter.com/urbanextremo?lang=es" target="none"></a></td>
        <td style="display: inline-block;"><a class="youtube icon-youtube" href="https://www.youtube.com/channel/UCjmA7ZdMeI-F0bspBleCDKg/videos"
            target="none"></a>
        </td>
      </tr>
    </table>
  </footer>
</html>