<section id="inicio">
    <a href="https://api.whatsapp.com/send?phone=+54%209%2011%202890145&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n....."
        class="float" target="_blank">
        <i class="fa fa-whatsapp my-float"></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Historia y Deporte</h2>
            </div>
        </div>
        <div class="historia-deporte">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <figure class="img-hp">
                        <img src="images/paintball/historia.jpg" class="img-fluid rounded mx-auto d-block"
                            alt="historia" data-aos="fade-up-right" data-aos-duration="1000">
                    </figure>
                    <h2>Historia</h2>
                    <p data-aos="fade-out" data-aos-duration="1000">El Paintball nace en 1981 en Estados Unidos, más concretamente en New
                        Hampshire. Tres ganaderos amigos, Gurnsey, Noel y Gaines, utilizaban unas marcadoras de aire
                        comprimido que disparaban bolas de pintura para marcar árboles y ganado.La primera partida fue
                        en
                        junio de 1981.y desde su creación, el Paintball ha ido creciendo de forma incesante en todo el
                        mundo, creándose organizaciones y equipos, infinidad de campos, equipamiento específico e
                        incluso
                        ligas y campeonatos.</p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <figure class="img-hp1">
                        <img src="images/paintball/deporte.jpg" class="img-fluid rounded mx-auto d-block"
                            alt="historia" data-aos="fade-up-left" data-aos-duration="1000">
                    </figure>
                    <h2>Deporte</h2>
                    <p data-aos="fade-out" data-aos-duration="1000">Es un deporte el cual se juega entre equipos que intentan conquistar un
                        objetivo, mediante la eliminación de los oponentes marcándolos con pintura, utilizando
                        marcadoras de
                        aire comprimido que disparan bolas de pintura (de ahí su nombre). Estas bolas están hechas de
                        gelatina al igual que las cápsulas de los medicamentos y contienen colorante 100% biodegradable,
                        no
                        tóxico y soluble al agua. Este es un deporte donde las mujeres y hombres compiten igualmente, y
                        donde la juventud no domina.
                </div>
            </div>
        </div>
    </div>
</section>
<div id="bloque-img4" class="background"></div>
<!--inicio nuestro espacio-->
<section id="nuestro_espacio">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Escenarios de Juego</h2>
            </div>
        </div>
        <div class="escenario-juego">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <img src="images/nuestro espacio/ghost.jpg" class="img-fluid rounded mx-auto d-block" alt="bamboo" data-aos="fade-up-right" data-aos-duration="1000">
                    <h2>Ghost Town</h2>
                    <p data-aos="fade-out" data-aos-duration="1000">
                        Ghost Town es un gran escenario repleto de fortificaciones que dificultan el acceso al fuerte
                        central. La estrategia, la comunicación y el trabajo en equipo serán herramientas necesarias
                        para poder imponerse en los objetivos de las misiones propuestas. Ideal para grupos numerosos.
                    </p>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <img src="images/nuestro espacio/bamboo.jpg" class="img-fluid rounded mx-auto d-block" alt="ghost" data-aos="fade-up-left" data-aos-duration="1000">
                    <h2>Bamboo Field</h2>
                    <p data-aos="fade-out" data-aos-duration="1000">
                        Bamboo Field es el escenario más rapido y dinámico que pueda ofrecer esta variante de Paintball,
                        con pequeñas posiciones de cañas que llevan al extremo la exigencia para ocultarse, atacar o
                        cambiar de posición. Una excelente alternativa para los jugadores más ágiles y osados.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="bloque-img3" class="background"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Armamento y Equipo</h2>
            </div>
        </div>
        <div class="nuestro-espacio">
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-sm-12 col-md-4">
                    <img class="mascara" src="images/nuestro espacio/mascara.png" alt="mascara"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Mascara</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img class="marcadora" src="images/nuestro espacio/marcadora.png" alt="marcadora"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Marcadora</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img class="mameluco" src="images/nuestro espacio/mameluco.png" alt="mameluco"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Mameluco</h2>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-sm-12 col-md-4" style="margin-top: 5%;">
                    <img class="cuello" src="images/nuestro espacio/cuello.png" alt="cuello"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Cuello Protector</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img class="guantes" src="images/nuestro espacio/guantes.png" alt="guantes"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Guantes</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img class="chaleco" src="images/nuestro espacio/chaleco.png" alt="chaleco"
                        class="img-fluid rounded mx-auto d-block">
                    <h2>Chaleco</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: black; margin-top:3%">
        <div class="cumple">
            <div class="row">
                <div class="col-12">
                    <h2>Festejo de cumpleaños para chicos entre 12 y 17</h2>
                    <h3>REALIZAMOS UN FESTEJO ORIGINAL,
                        DINÁMICO E INOLVIDABLE.
                        CON MEDIDAS DE SEGURIDAD ADICIONALES PARA LOS MÁS CHICOS (CUELLO PROTECTOR ADICIONAL, REGULACIÓN
                        MARCADORAS A 170 FPS Y MISIONES ESPECIALES QUE EVITAN ENFRENTAMIENTOS A CORTA DISTANCIA).
                        ELLOS TAMBIÉN TIENEN SU ESPACIO EN URBAN PAINTBALL EXTREMO.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12  col-sm-12">
                <div id="carouselExampleControls" class="carousel slide" data-ride="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="images/nuestro espacio/cumple3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/nuestro espacio/cumple1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/nuestro espacio/cumple2.jpg" style="height: 100%;object-fit: cover;"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="images/nuestro espacio/cumple3.jpg" stylw="height:100%;object-fit:cover;"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <h3 class="info" data-aos="fade-out" data-aos-duration="1000">Contamos con un SUM de 200 metros cuadrados para que puedas disfrutar de la compañía de
                    tus amigos durante el festejo.Consulta y reserva tu servicio de cobertura fílmica y fotográfica.
                </h3>
            </div>
            <div class="servicio" data-aos="fade-out" data-aos-duration="1000">
                <div class="col-lg-12 col-md-12">
                    <h3>Detalle del Servicio</h3>
                    <ul>
                        <li>Tarjetas de invitación</li>
                        <li>Bienvenida con gaseosas y snacks (papas fritas, palitos de maíz y palitos salados).</li>
                        <li>Una hora de Juego de Paintball, con el equipamiento y la carga de pellets elegida.</li>
                        <li>Menú de hamburguesas y gaseosas libre (línea Coca Cola o Pepsi).</li>
                        <li>Torta de cumpleaños con vela y bengala.</li>
                        <li>Regalo para el agasajado.</li>
                        <li>Sorteo entre todos los invitados de un regalo Urban Paintball Extremo.</li>
                        <li>Menú para 2 (dos) adultos</li>
                    </ul>
                    <div class="col-lg-12 col-md-12"></div>
                    <h3>Detalle de la actividad</h3>
                    <ul>
                        <li>Duración del evento: 2 Horas.</li>
                        <li>Charla Instructiva de reglas de juego y medidas de seguridad.</li>
                        <li>Indumentaria especial: Mameluco, chaleco protector, guantes y protector de cuello</li>
                        <li>Equipamiento: Mascara Protectora, Marcadora, Garrafa de Co2 y 100 pellets.</li>
                        <li>Acceso a Vestuarios.</li>
                        <li>Sector de Recarga Exclusivo para cada Equipo.</li>
                        <li>Arbitraje de la Actividad a cargo de un instructor.</li>
                        <li>Entre 4 y 6 misiones de juego con diferentes objetivos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color: black;">
        <div class="cumple">
            <div class="row">
                <div class="col-12">
                    <h2>LOS MEJORES FESTEJOS LOS TENES EN URBAN PAINTBALL</h2>
                    <h3>TE OFRECEMOS LA MEJOR OPCIÓN PARA FESTEJOS DE CUMPLEAÑOS,DESPEDIDA DE SOLTERO,DE
                        CASADO,DEL PAIS O SIMPLEMENTE PARA LO QUE QUIERAS FESTEJAR Y PASAR UN MOMENTO INOLVIDABLE CON
                        TUS
                        AMIGOS.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-aos="fade-up-right" data-aos-duration="1000">
                <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="false"
                    data-interval="2500">
                    <div class="carousel-inner1">
                        <div class="carousel-item active">
                            <img src="/images/nuestro espacio/slider/1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/nuestro espacio/slider/2.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/nuestro espacio/slider/3.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/nuestro espacio/slider/4.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/nuestro espacio/slider/5.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/images/nuestro espacio/slider/6.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-5 col-md-12" data-aos="fade-up-left" data-aos-duration="1000">
                <div class="after-office">
                    <ul>
                        <li>DURACIÓN DEL JUEGO: 2 HORAS.</li>
                        <li>CHARLA INSTRUCTIVA DE REGLAS DE JUEGO Y MEDIDAS DE SEGURIDAD.</li>
                        <li>INDUMENTARIA ESPECIAL: MAMELUCO, CHALECO PROTECTOR, GUANTES Y PROTECTOR DE CUELLO</li>
                        <li>EQUIPAMIENTO: MASCARA PROTECTORA, MARCADORA, GARRAFA DE CO2 Y 100 PELLETS..</li>
                        <li>SECTOR DE RECARGA EXCLUSIVO PARA CADA EQUIPO.</li>
                        <li>ARBITRAJE DE LA ACTIVIDAD A CARGO DE UN INSTRUCTOR.</li>
                        <li>ENTRE 4 Y 6 MISIONES DE JUEGO CON DIFERENTES OBJETIVOS.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--fin nuestro espacio-->
    <!--inicio galeria-->
    <div id="bloque-img2" class="background"></div>
    <section id="galeria">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Imagenes</h1>
                </div>
            </div>
            <div class="row"  data-aos="fade-up" data-aos-duration="1000">
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/1.jpg"><img src="/images/galeria/ch/1c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/2.jpg"><img src="/images/galeria/ch/2c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/3.jpg"><img src="/images/galeria/ch/3c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/4.jpg"><img src="/images/galeria/ch/4c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/5.jpg"> <img src="/images/galeria/ch/5c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/6.jpg"> <img src="/images/galeria/ch/6c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
            </div>
            <div class="row"  data-aos="fade-up" data-aos-duration="1000">
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/7.jpg"> <img src="/images/galeria/ch/7c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/8.jpg"> <img src="/images/galeria/ch/8c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
                <div class="col-4">
                    <figure class="galery">
                        <a data-fancybox="gallery" href="/images/galeria/9.jpg"> <img src="/images/galeria/ch/9c.jpg"
                                alt="img01"></a>
                    </figure>
                </div>
            </div>
        </div>
        <div>
    </section>
    <div id="bloque-img3" class="background"></div>
    <!--fin galeria-->
    <!--incio empresas-->
    <section id="empresas">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Eventos Corporativos</h2>
                </div>
            </div>
            <div class="evento">
                <div class="row"  data-aos="fade-out" data-aos-duration="1000">
                    <div class="col-lg-12 col-sm-12">
                        <p>Ofrecemos jornadas de Paintball para grupos desde 10 hasta 240 personas con
                            servicios complementarios para la empresa (sala de reunión equipada, servicios
                            gastronómicos, vestuarios, estacionamiento exclusivo y más).</p>
                        <p>Nuestros escenarios recreativos permiten realizar partidas de 60 jugadores a
                            la vez, con todo el equipamiento (monoequipo, chaleco táctico con protección inguinal,
                            guantes, máscara protectora y marcadora) y asistencia permanente de árbitros e instructores.
                        </p>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <p>También disponemos de un escenario móvil, para llevar la actividad a cualquier
                            predio (estancia, hotel, club, country, etc.) y ofrecer la actividad en un evento
                            empresarial o social (convención, family day, lanzamiento de producto, etc.).</p>
                        <p>Este montaje, diseñado exclusivamente para el desarrollo seguro de esta
                            actividad, permite circunscribir el área destinada para el juego y ofrece la posibilidad de
                            presenciar el desarrollo de los juegos a los demás concurrentes, desde los miradores
                            diseñados a tal fin.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="equipo">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <h2>CAMARADERIA Y TRABAJO EN EQUIPO</h2>
                        <h3>DEPORTE IDEAL PARA CAMARADERIA Y TRABAJO EN EQUIPO</h3>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-12" data-aos="fade-up" data-aos-duration="1000">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">
                        <div class="carousel-inner" style="margin-top: 0%;">
                            <div class="carousel-item active">
                                <img src="images/empresas/urban021.jpg" class="d-block w-100" alt="urban01">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/urban011.jpg" class="d-block w-100" alt="urban11">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/urban03.jpg" class="d-block w-100" alt="urban3">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/IMG_3223.jpg" class="d-block w-100" alt="urban4">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-12">
                    <div class="parrafo">
                        <p>La jornada se organiza sólo con un fin recreativo, proponemos la realización de un torneo
                            entre los concurrentes al evento. Como el Paintball es por sobre todas las cosas un
                            trabajo en equipo, aseguramos que la jornada recreativa afianzará la camaradería del
                            grupo, la comunicación y la integración ocurrirán naturalmente, y las emociones asomarán
                            sin que el concurrente note la intervención del organizador para estimular estos
                            valores.</p>
                        <p>Lo que se pretende es aplicar el Paintball para comunicar a través de él algún concepto
                            vinculado a la empresa, proponemos una jornada de capacitación y entrenamiento, y los
                            concurrentes al evento, en este caso jugarán contra un enemigo conformado por jugadores
                            de Urban Paintball, asistidos por un instructor y monitoreados por un profesional acorde
                            a la evaluación que se pretenda realizar.</p>
                        <p>Posible en este deporte, reflejar a través del juego distintas situaciones que ocurren
                            habitualmente en la Empresa, y mediante una devolución en la charla de cierre, trazar un
                            paralelismo con el juego de Paintball y el trabajo cotidiano. Una partida de Paintball
                            permite observar la reacción de una persona y de un grupo ante una situación límite no
                            esperada, e identificar de una manera más clara los valores y las falencias individuales
                            y grupales del equipo de trabajo.</p>
                        <p>Posibilidad de diseñar misiones específicas y a medida de cada grupo, nos permite entre
                            otras cosas pulir asperezas entre departamentos antagónicos como Ventas-MKT o
                            Ventas-Logística, afianzar la camaradería de un equipo laboral recién formado,
                            determinar situaciones de liderazgo y de trabajo en equipo, determinar el umbral de
                            exigencia y de frustración del grupo de trabajo, examinar el perfil personal y colectivo
                            en lo referente a la administración de recursos, etc.</p>
                        <p>Charlas de devolución son dadas por psicólogos sociales, sociólogos, licenciados en
                            comunicación, motivadores, licenciados en marketing, etc.
                            Bienvenidos a Urban Paintball Extremo, el nuevo espacio para vivir una experiencia
                            única, cargada de ADRENALINA, ACCIÓN y DIVERSIÓN.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="background-color: black;">
            <div class="servi-gastro">
                <div class="row">
                    <div class="col-12">
                        <h2>Servicios Gatronomicos</h2>
                        <div class="col-12">
                            <h3>
                                OFRECEMOS JORNADAS DE PAINTBALL PARA GRUPOS DESDE 6 HASTA 240 PERSONAS CON SERVICIOS
                                COMPLEMENTARIOS PARA LA EMPRESA (SALA DE REUNIÓN EQUIPADA, SERVICIOS GASTRONÓMICOS,
                                VESTUARIOS, ESTACIONAMIENTO EXCLUSIVO Y MÁS.
                                SÓLO A MODO DE EJEMPLO,ENUMERAMOS ALGUNAS PROPUESTAS GASTRONÓMICAS QUE OFRECEMOS COMO
                                COMPLEMENTO A LA JORNADA DE PAINTBALL.
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Nuestras Opciones Gastronomicas</h2>
                </div>
                <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-duration="1000">
                    <ul class="list">
                        <li>DESAYUNO / COFEE BREAK</li>
                    </ul>
                    <ul class="list2">
                        <li>Petit Fours</li>
                        <li>Medialunas</li>
                        <li>Sandwiches de Miga</li>
                        <li>Café, Té, Leche, Crema,<br> Jugos Exprimidos Naturales.</li>
                    </ul>
                    <ul class="list">
                        <li>CENA / ALMUERZO</li>
                    </ul>
                    <ul class="list2">
                        <li>Brochettes de Pollo</li>
                        <li>Chorizo,Morcilla,Asado de Tira, Vacío, Pechito de Cerdo</li>
                        <li>Salad Bar(Caprese, Rúcula y Champignones, Espinaca y Tomates Secos, Zanahoria y Huevo).
                        </li>
                        <li>Bebidas: Agua Mineral con o sin gas, Gaseosas,(ilimitado durante el almuerzo o la cena).
                        </li>
                        <li>Postre: Tartufo Helado de Crema Americana, Dulce de Leche Natural, Baño de Chocolate con
                            Almendras acarameladas.</li>
                    </ul>
                </div>
                <div class="col-lg-12 col-md-12" data-aos="fade-up" data-aos-duration="1000">
                    <ul class="list">
                        <li>REFRIGERIO</li>
                    </ul>
                    <ul class="list2">
                        <li> Agua Mineral y Gaseosas línea Pepsi.</li>
                        <li> Café y Té.</li>
                        <li>Sandwichs de Miga,(ilimitado durante el juego de Paintball).</li>
                        <li>1 Gatorade por persona.</li>
                    </ul>
                    <ul class="list">
                        <li>COCKTAIL INFORMAL</li>
                    </ul>
                    <ul class="list2">
                        <li>Agua Mineral, Gaseosas línea Pepsi.</li>
                        <li>Selección de Pizzas a la Parrilla(muzzarella, napolitana, roquefort, champignones,
                            rúcula y panceta, cantimpalo, fugazzetta).</li>
                        <li>Tartufo Helado de Crema Americana, Dulce de Leche Natural, Baño de Chocolate con
                            Almendras acarameladas.</li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div style="padding: 0;" class="col-12">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner2">
                            <div class="carousel-item active">
                                <img src="images/empresas/gastro1.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/gastro2.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro3.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro4.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro5.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro6.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro8.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro9.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro10.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/gastro11.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro12.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/gastro13.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class=" carousel-item">
                                <img src="images/empresas/gastro14.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                            <div class="carousel-item">
                                <img src="images/empresas/gastro15.jpg" class="d-block w-100" alt="..."
                                    style="margin-top: 0px;">
                            </div>
                        </div>
                        <a class=" carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="parrafo-2">
                <div class="row" data-aos="fade-up" data-aos-duration="1000">
                    <div class="col-12">
                        <p>Los servicios gastronómicos se brindan en nuestro bar restaurant y además
                            de
                            este sector y del escenario de juego, los concurrentes disponen de una sala de reunión
                            exclusiva y equipada, que ofrece los siguientes servicios : Recepción, Musicalización,
                            Operación técnica en sonido, iluminación y video, Guardarropas, Seguridad, Parking
                            Vigilado.
                        </p>
                        <p>Como cierre del evento, luego de conocerse el ganador del juego, puede
                            realizarse la entrega de premios o souvenirs, para los participantes de la jornada.</p>
                        <p>El sector propuesto, posee el siguiente equipamiento: Escenario
                            Profesional,
                            Pantalla Gigante de Video, Proyector de 1700 lúmenes, Videocassetera, DVD, Sonido
                            Profesional, Micrófono Inalámbrico, Iluminación Inteligente con posibilidad de
                            proyección de
                            globos personalizados, Living.</p>
                        <p>Para solicitar tu evento de paintball empresarial ingresá a <a
                                href="http://www.pieventos.com.ar/" target="none">www.pieventos.com.ar</a> a o
                            envianos
                            un mail a info@pieventos.com.ar</p>
                        <p>Si ud. desea solicitar un diseño específico para su evento, contáctese con
                            nuestro<span> Responsable de Eventos Corporativos, Jorge Farray, al 011 (15)
                                3877-7637</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div id="bloque-img3" class="background"></div>
    <section id="novedades">
        <div class="container">
                <div class="row">
                    <div class="col">
                        <h2>Novedades</h2>
                        <div class="novedad" data-aos="fade-up" data-aos-duration="1000">
                            {{#each novedades}}
                            <h2>{{titulo}}</h2>
                            <h3>{{subtitulo}}</h3>
                            <p>{{cuerpo}}</p>
                            <img class="corte" src="/images/corte.png" alt="corte-pies">
                            {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contacto">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Donde Estamos?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="padding: 0;">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d6573.294176499434!2d-58.46065322397638!3d-34.53716817190712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1surban%20paintball%20extremo!5e0!3m2!1ses!2sar!4v1589271590780!5m2!1ses!2sar"
                        width="100%" height="400" frameborder="0" style="border-radius: 6px;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12" data-aos="fade-up-right" data-aos-duration="1000">
                    <h2 class="contacto2">Contactanos</h2>
                    <h3 class="contacto3"> Campo de Juego </h3>
                    <h4 class="contacto4">Puerto Núñez – Avenida Cantilo y Arroyo Medrano
                        Predio Club Centro Naval Sede Núñez
                        Nuñez – CABA
                        Argentina</h4>
                    <h3 class="contacto3">Oficina Comercial</h3>
                    <h4 class="contacto4">Av. Martín Comodoro Rivadavia 1420
                        (Exclusivo para recepción de señas e información de servicio)
                        Nuñez – CABA
                        Argentina</h4>
                    <h2 class="contacto2">Info & Reservas</h2>
                    <h4 class="contacto4">
                        (011) 4702-1002 / (011) 4519-0103
                        <br>
                        Whatsapp: +54 911 2893 0145
                    </h4>
                </div>
                <div class="col-lg-6 col-md-12">
                    <h2 class="contacto5">Envia tu Consulta</h2>
                    <form action="/#contacto" method="post" class="formulario" id="formulario">
                        <p>
                            <label for="Nombre y Apellido">Nombre y Apellido</label>
                            <input type="text" id="nombre" name="nombre" required>
                        </p>
                        <p>
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" required/>
                        </p>
                        <p>
                            <label for="telefono">Telefono</label>
                            <input type="text" id="tel" name="tel" required />
                        </p>
                        <p>
                            <label for="Mensaje">Mensaje</label>
                            <textarea id="mensaje" name="mensaje" required></textarea>
                        </p>
                        <p class="acciones"><input type="submit" value="Enviar" style="margin-top: 4%;"></p>
                    </form>
                    <div class="mensaje">
                        {{ message }}
                    </div>
                </div>
            </div>
            </div>
    </section>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/jquery.validate.js"></script>
    <script src="/javascripts/messages_es_AR.js"></script>
    <script src="/javascripts/contacto.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="/javascripts/aos.js"></script>
    <script src="/javascripts/pop.js"></script>
    <script src="/javascripts/scroll.js"></script>
    <script src="/javascripts/buttonsubir.js"></script>
    <script src="/javascripts/jquery.fancybox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>